[flags]
tutorial_enabled=true

[overrides]
starting_wave=0
# starting_stats={"whale_level": 3, "critical_chance": 4}
# starting_wave_augments={"enemy_attack_speed": 100}
no_enemies=false

[settings]
volume=0.5