[flags]
tutorial_enabled=false

[overrides]
starting_wave=5
starting_stats={"whale_level": 1, "dash_distance": 1, "curse_on_hit": 1,"critical_chance": 1, "boss_attack_size": 2,}
# starting_wave_augments={"enemy_attack_speed": 100}
no_enemies=false