[flags]
tutorial_enabled=false
debug_print=true
debug_state_log=false

[overrides]
starting_wave=0
# starting_stats={"has_dash": 1,"has_beluga":1, "marking_dash": 1}
# chosen_upgrades=["has_dash", "has_beluga", "marking_dash"]
# starting_wave_augments={"enemy_attack_speed": 100}
no_enemies=false

[settings]
volume=0.5